/*---------------------------------
	hero css start 
---------------------------------*/

.hero-area{
    background-color: var(--ai-bg-color);
}

.hero-content{
    width: 55%;
    margin-right: 80px;
    h1{
        font-size: 70px;
        margin-bottom: 15px;
    }
    h4{
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .buttons a{
        margin-right: 20px;
    }
}

.hero-img{
    width: 450px;
    height: 450px;
    img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 10px solid var(--ai-border-primary);
    }
}